#taskList {
    background-color: rgba(155, 234, 247, 0.85);
    margin: auto;
    padding: 20px;
    padding-left: 45px;
    width: 655px;
}

#taskList li {
    display: flex;
    padding: 5px 0;
    position: relative;
    margin-bottom: 10px;
}

#taskList li::before {
    content: counter(list-item) ".";
    counter-increment: list-item;
    position: absolute;
    left: -35px;
}

#taskList li button {
    background-color: Transparent;
    border: none;
    margin-left: 10px;
    font-size: 16px;
}